$color--black: #1d1d1f;
$color--white: #fff;

body {
	overflow: hidden;
	background-color: $color--black;
	h1 {
		color: $color--white;
		font-size: 40px;
		display: flex;
	}
}

.webgl{
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	z-index: -1;
	width: 100%;
	height: 100%;
}